.header{
	height: 80px;
	.content{
		height: 100%;
		border-bottom: 1px solid $colorEBEBEB;
	}
	.header__logo{
		position: relative;
		width: 275px;
		img{
			width: 100% !important;
			height: auto !important;
		}
	}
	.header__section{
		width: calc(100% - 275px);
	}
}

.logo-text{
	color: $color757575;	
	font-size: 18px;
	font-family: $fontNormal;
	font-weight: normal;
	line-height: 29px;
	padding: 12px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&__link{
		font-size: 18px;
		font-family: 'OktaNeueBold';
		color: #333333;
		transition: 0.3s;
		&:hover{
			color: $colorF1303C;
		}
	}
}

.header-section{
	height: 100%;
	.header-section__menu{
		width: calc(100% - 246px);
		padding: 0 0 0 70px;
		height: 100%;
		.menu-top-container{
			width: 100%;
			height: 100%;
		}
		ul{
			@include flexbox();
			@include align-items(center);
			@include justify-content(flex-start);
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			list-style-type: none;
			li{
				padding: 0 30px 0 0;
				a{
					color: $color333333;
					font-size: 18px;
					font-family: $fontNormal;
					font-weight: normal;
					line-height: 29px;
					@include transition(.2s);
					&:hover, &:focus, &:active{
						color: $colorF1303C;
					}
				}
			}
		}
	}
	.header-section__contact{
		width: 246px;
	}
}

.header-contact{
	.header-contact__phone{
		color: $colorF1303C;
		font-size: 30px;
		font-family: $fontBold;
		font-weight: bold;
		line-height: 49px;
		text-align: right;
		a{
			color: $colorF1303C;
		}
	}
}

@media (max-width: 1600px){
	.header{
		.header__logo{
			width: 250px;
		}
		.header__section{
			width: calc(100% - 250px);
		}
	}

	.logo-text{
		font-size: 18px;
		line-height: 28px;
		padding: 10px 0;
	}


	.header-section{
		.header-section__menu{
			width: calc(100% - 215px);
			padding: 0 0 0 50px;
			ul{
				li{
					padding: 0 25px 0 0;
					a{
						font-size: 16px;
						line-height: 26px;
					}
				}
			}
		}
		.header-section__contact{
			width: 215px;
		}
	}

	.header-contact{
		.header-contact__phone{
			font-size: 26px;
			line-height: 44px;
		}
	}
}

@media (max-width: 1240px){
	.header{
		height: 70px;
		.header__logo{
			width: 195px;
		}
		.header__section{
			width: calc(100% - 195px);
		}
	}

	.logo-text{
		font-size: 15px;
		line-height: 22px;
		padding: 10px 0;
	}

	.header-section{
		.header-section__menu{
			width: calc(100% - 175px);
			padding: 0 0 0 50px;
			ul{
				li{
					padding: 0 25px 0 0;
					a{
						font-size: 15px;
						line-height: 22px;
					}
				}
			}
		}
		.header-section__contact{
			width: 175px;
		}
	}

	.header-contact{
		.header-contact__phone{
			font-size: 22px;
			line-height: 34px;
		}
	}
}

@media (max-width: 1000px){
	.header{
		height: 80px;
		.header__logo{
			width: 270px;
		}
		.header__section{
			width: calc(100% - 270px);
			@include justify-content(flex-end);
		}
	}
	.header-section{
		.header-section__menu{
			display: none;
		}
		.header-section__contact{
			width: 100%;
		}
	}
	.header-contact{
		.header-contact__phone{
			font-size: 30px;
			line-height: 49px;
		}
	}
}

@media (max-width: 768px){
	.header{
		height: 65px;
		.header__logo{
			width: 215px;
		}
		.header__section{
			width: calc(100% - 215px);
		}
	}
	.logo-text{
		font-size: 14px;
		line-height: 22px;
		padding: 10px 0;
	}
	.header-contact{
		.header-contact__phone{
			font-size: 24px;
			line-height: 36px;
		}
	}
}

@media (max-width: 640px){
	.header{
		.content{
			padding-right: 20px;
		}
		.header__logo{
			width: 190px;
		}
		.header__section{
			width: calc(100% - 190px);
		}
	}
	.header-contact{
		.header-contact__phone{
			font-size: 20px;
			line-height: 34px;
		}
	}
}

@media (max-width: 575px){
	.logo-text{
		flex-direction: column-reverse;
		align-items: flex-start;
		&__link{
			margin-bottom: 8px;
		}
	}
}
@media (max-width: 480px){
	.header{
		.header__logo{
			width: calc(100% - 155px);
			img{
				max-width: 190px;
			}
		}
		.header__section{
			width: 155px;
		}
	}
	.header-contact{
		.header-contact__phone{
			font-size: 18px;
			line-height: 30px;
		}
	}
}

@media (max-width: 360px){
	.header{
		.content{
			padding-right: 15px;
		}
		.header__logo{
			width: calc(100% - 140px);
			img{
				max-width: 150px;
			}
		}
		.header__section{
			width: 140px;
		}
	}
	.header-contact{
		.header-contact__phone{
			font-size: 16px;
			line-height: 28px;
		}
	}
}