.content{
	width: 1200px;
	margin: 0 auto;
}

h1{
	color: $color333333;
	font-size: 85px;
	font-family: $fontBold;
	font-weight: bold;
	line-height: 100%;
}

h2{
	color: $color333333;
	font-size: 65px;
	font-family: $fontBold;
	font-weight: bold;
	line-height: 100%;
}

.box-style{
	.box-style__header{
		.box-style__heading{
			@extend h2;
		}
	}
}

.mobile-hidden-sm{
	@media (max-width: 1000px){
		display: none;
	}
}
.mobile-visible-sm{
	@media (min-width: 1001px){
		display: none;
	}	
}

@media (max-width: 1600px){
	.content{
		width: 1040px;
	}

	h1{
		font-size: 72px;
		line-height: 100%;
	}

	h2{
		font-size: 55px;
		line-height: 100%;
	}
}

@media (max-width: 1240px){
	.content{
		width: 920px;
	}

	h1{
		font-size: 60px;
		line-height: 100%;
	}

	h2{
		font-size: 46px;
		line-height: 100%;
	}
}

@media (max-width: 1000px){
	.content{
		width: 620px;
	}
	h1{
		font-size: 65px;
		line-height: 100%;
	}

	h2{
		font-size: 52px;
		line-height: 100%;
	}
}

@media (max-width: 768px){
	.content{
		width: 490px;
	}
	h1{
		font-size: 50px;
		line-height: 100%;
	}

	h2{
		font-size: 42px;
		line-height: 100%;
	}
}

@media (max-width: 640px){
	.content{
		width: 100%;
		padding: 0 20px;
	}
	h1{
		font-size: 42px;
		line-height: 100%;
	}

	h2{
		font-size: 34px;
		line-height: 100%;
	}
}

@media (max-width: 480px){
	h1{
		font-size: 30px;
		line-height: 100%;
	}

	h2{
		font-size: 24px;
		line-height: 100%;
	}
}

@media (max-width: 360px){
	.content{
		padding: 0 15px;
	}
	h1{
		font-size: 28px;
		line-height: 100%;
	}
}