.but-container{
	line-height: 1.0;
}
.but-link{
	z-index: 10;
	position: relative;
	display: inline-flex;
	align-items: center;
	min-height: 90px;
	background: #D4323C;
	border-radius: 100px;
	color: white;
	font-size: 25px;
	font-family: $fontBold;
	font-weight: bold;
	line-height: 100%;
	text-transform: uppercase;
	padding: 0 3rem;
	white-space: nowrap;
	@include transition(.2s);

	svg{
		width: 27px;
		height: 27px;
		@include transition(.2s);
		transform: rotate(45deg);
		margin-left: 20px;
		path{
			fill: white;
		}
	}
	.line-bottom{
		display: inline-flex;
		align-items: center;
		position: relative;
		margin-right: 7px;
		&:after{
			content: '';
			position: absolute;
			bottom: 20px;
			left: 0;
			width: 100%;
			height: 1px;
			background: $colorD4323C;
			display: none;
		}
	}
	&.but-link-header{
		padding: 0 26px;
		color: #fff!important;
		font-size: 18px;
		min-height: 50px;
		justify-content: center;
	}
	&.but-link-white{
		color: $colorWhite;
		svg{
			path{
				fill: $colorWhite;
			}
		}
		.line-bottom{
			&:after{
				background: $colorWhite;
			}
		}
	}
	&:hover, &:focus, &:active{
		// color: darken($colorD4323C, 10%);
		/*svg{
			path{
				fill: darken($colorD4323C, 10%);
			}
		}*/
		/*&.but-link-white{
			color: $colorD4323C;
			svg{
				path{
					fill: $colorD4323C;
				}
			}
		}*/
		// .line-bottom{
		// 	&:after{
		// 		display: none;
		// 	}
		// }
	}
	&:hover, &:focus, &:active{
		color: white;
	}
}

@media (max-width: 1600px){
	.but-link{
		font-size: 20px;
		padding: 0 1.5rem;
		svg{
			
		}
		.line-bottom{
			&:after{
			}
		}
	}
}

@media (max-width: 1240px){
	// .but-link{
	// 	font-size: 44px;
	// 	line-height: 100%;
	// 	svg{
	// 		width: 32px;
	// 		height: 32px;
	// 	}
	// 	.line-bottom{
	// 		&:after{
	// 			bottom: 15px;
	// 		}
	// 	}
	// }
}

@media (max-width: 1000px){
	// .but-link{
	// 	font-size: 48px;
	// 	line-height: 100%;
	// 	svg{
	// 		width: 36px;
	// 		height: 36px;
	// 	}
	// 	.line-bottom{
	// 		&:after{
	// 			bottom: 18px;
	// 		}
	// 	}
	// }
}

@media (max-width: 768px){
	// .but-link{
	// 	font-size: 40px;
	// 	line-height: 100%;
	// 	svg{
	// 		width: 28px;
	// 		height: 28px;
	// 	}
	// 	.line-bottom{
	// 		&:after{
	// 			bottom: 12px;
	// 		}
	// 	}
	// }
}

@media (max-width: 640px){
	// .but-link{
	// 	font-size: 30px;
	// 	line-height: 100%;
	// 	svg{
	// 		width: 21px;
	// 		height: 21px;
	// 	}
	// 	.line-bottom{
	// 		&:after{
	// 			bottom: 10px;
	// 		}
	// 	}
	// }
}

@media (max-width: 480px){
	.but-link{
		min-height: 40px;
		padding: 0 20px;
		font-size: 18px;
		line-height: 120%;
		svg{
			width: 16px;
			height: 16px;
		}
		.line-bottom{
			&:after{
				bottom: 7px;
			}
		}
	}
}