.footer{
	color: $colorWhite;
	font-size: 14px;
	font-family: $fontNormal;
	line-height: 15px;
	.footer__item{
		width: calc(100% / 3);
		position: relative;
		&.footer__item_1{
			width: 275px;
			padding: 0 30px 0 0;
		}
		&.footer__item_2{
			width: 377px;
			padding: 0 30px 0 0;
			ul{
				margin: 0;
				padding: 0;
				list-style-type: none;
				li{
					padding: 0 0 10px;
					a{
						color: $colorWhite;
						text-decoration: underline;
						&:hover, &:focus, &:active{
							color: $colorWhite;
							text-decoration: none;
						}
					}
				}
			}
		}
		&.footer__item_3{
			width: 560px;
			width: 478px;
			ul{
				width: calc(100% + 110px);
				margin: 0;
				padding: 0;
				list-style-type: none;
				li{
					padding: 0 0 15px;
				}
			}
		}
	}
	.footer-heading{
		font-family: $fontBold;
		font-size: 16px;
		font-weight: bold;
		line-height: 26px;
		padding: 0 0 16px;
	}
	.footer__logo{
		img{
			max-width: 252px;
		}
	}
	.footer__copy{
		font-size: 12px;
		line-height: 14px;
		opacity: .8;
	}
}

.footer-contact{
	.footer-contact__item{
		padding: 0 0 15px;
		&.footer-contact__phone{
			font-family: $fontBold;
			font-size: 18px;
			font-weight: bold;
			line-height: 15px;
			a{
				color: $colorWhite;
			}
		}
		&.footer-contact__email{
			a{
				color: $colorWhite;
				text-decoration: underline;
			}
		}
		&.footer-contact__location{
		}
		
	}
}

@media (max-width: 1600px){
	.footer{
		.footer__item{
			width: calc(100% / 3);
			&.footer__item_1{
				width: 255px;
				padding: 0 45px 0 0;
			}
			&.footer__item_2{
				width: 340px;
				padding: 0 30px 0 0;
				ul{
					li{
						padding: 0 0 10px;
					}
				}
			}
			&.footer__item_3{
				width: 490px;
				width: 445px;
				ul{
					width: calc(100% + 85px);
					li{
						padding: 0 0 15px;
					}
				}
			}
		}
		.footer__logo{
			img{
				max-width: 211px;
			}
		}
	}

	.footer-contact{
		.footer-contact__item{
			padding: 0 0 15px;
			&.footer-contact__phone{
				font-size: 18px;
				line-height: 15px;
			}
		}
	}
}

@media (max-width: 1240px){
	.footer{
		.footer__item{
			width: calc(100% / 3);
			&.footer__item_1{
				width: 240px;
				padding: 0 45px 0 0;
			}
			&.footer__item_2{
				width: 300px;
				padding: 0 30px 0 0;
				ul{
					li{
						padding: 0 0 10px;
					}
				}
			}
			&.footer__item_3{
				width: 490px;
				width: 365px;
				ul{
					width: 100%;
					li{
						padding: 0 0 15px;
					}
				}
			}
		}
		.footer-heading{
			padding: 0 0 15px;
		}
		.footer__logo{
			img{
				max-width: 195px;
			}
		}
	}

	.footer-contact{
		.footer-contact__item{
			padding: 0 0 15px;
			&.footer-contact__phone{
				font-size: 18px;
				line-height: 15px;
			}
		}
	}
}

@media (max-width: 1000px){
	.footer{
		.footer__item{
			width: calc(100% / 2) !important;
			&.footer__item_1{
				@include flex-direction(unset);
				width: 100% !important;
				padding: 0 0 35px;
			}
			&.footer__item_2{
				padding: 0 30px 0 0;
				ul{
					li{
						padding: 0 0 10px;
					}
				}
			}
			&.footer__item_3{
				ul{
					width: 100%;
					li{
						padding: 0 0 15px;
					}
				}
			}
		}
		.footer-heading{
			padding: 0 0 20px;
		}
		.footer__logo{
			width: 50%;
			img{
				max-width: 252px;
			}
		}
		.footer__copy{
			width: 50%;
		}
	}
}

@media (max-width: 768px){
	.footer{
		.footer__logo{
			img{
				max-width: 232px;
			}
		}
	}
}

@media (max-width: 640px){
	.footer{
		position: relative;
		.footer__item{
			width: calc(100% / 1) !important;
			padding: 0 0 20px !important;
			&.footer__item_3{
				ul{
					width: 100%;
					li{
						padding: 0 0 15px;
						&:last-child{
							padding: 0 0 5px;
						}
					}
				}
			}
		}
		.footer-heading{
			padding: 0 0 8px;
		}
		.footer__logo{
			width: 100%;
			img{
				max-width: 190px;
			}
		}
		.footer__copy{
			position: absolute;
			bottom: 55px;
			left: 0;
			width: 100%;
		}
	}
}