.wpcf7-form{
	p{
		margin: 0;
	}
	.wpcf7-form-control-wrap{
		display: block;
		margin: 0 0 20px;
		& + br{
			display: none;
		}
	}
	label{
		display: none;
	}
	.wpcf7-list-items-title{
		margin-bottom: 8px;
	}
	.wpcf7-list-item{
		&.first{
			margin-left: 0;
		}
		label{
			display: block;
			cursor: pointer;
			input{
				display: none;
			}
			.wpcf7-list-item-label{
				display: flex;
				align-items: center;
				position: relative;
				&::before{
					content: '';
					width: 16px;
					height: 16px;
					border-radius: 50%;
					border: 1px solid #DEDEDE;
					margin-right: 6px;
				}
				&::after{
					content: '';
					position: absolute;
					left: 3px;
					top: 50%;
					margin-top: -5px;
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background: #D4323C;
					opacity: 0;
					transition: 0.3s;
				}
			}
			input:checked ~ span::after{
				opacity: 1;
			}
		}
	}
	input, textarea, select{
		&.wpcf7-form-control{
			width: 100%;
			height: 40px; 
			border: 1px solid $colorBorder;
			background: transparent;
			color: $color333333;
			font-size: 16px;
			font-family: $fontNormal;
			padding: 4px 12px;
			@include border-radius(0 !important);
			@include box-shadow(none);
			&::-webkit-input-placeholder{
				color: rgba($color333333, 0.7);
			}
			&::-moz-placeholder{
				color: rgba($color333333, 0.7);
			}
			&:-moz-placeholder{
				color: rgba($color333333, 0.7);
			}
			&:-ms-input-placeholder{
				color: rgba($color333333, 0.7);
			}
			&.disabled, &.form-control[disabled], &.form-control[readonly] {
			    cursor: not-allowed;
			    pointer-events: none;
			    background-color: #eee;
			    opacity: 1;
			}
			&.error{
				color: #a94442;
				border-color: #a94442;
				&::-webkit-input-placeholder{
					color: #a94442;
				}
				&::-moz-placeholder{
					color: #a94442;
				}
				&:-moz-placeholder{
					color: #a94442;
				}
				&:-ms-input-placeholder{
					color: #a94442;
				}
			}
			&:focus, &:active{
				outline: 0;
				border-color: $colorBorder !important;
				@include box-shadow(none !important);
			}
		}
	}
	textarea{
		@include border-radius(0);
		max-width: 100%!important;
		min-width: 100%!important;
		min-height: 65px!important;
		max-height: 65px!important;
	}
	.terms_of_use{
	    color: #959595;
	    font-size: 12px;
	    line-height: 1.2;
	    padding: 5px 0px 0px;
	    a{
			color: #959595;
			text-decoration: underline;
		}
	}
	.wpcf7-not-valid-tip{
		font-size: 12px;
	}
	.wpcf7-response-output{
		display: none !important;
		margin: 10px 0 25px !important;
	}
	input[type="submit"], button{
		width: 100%;
		color: $colorWhite !important;
		font-size: 16px;
		font-family: $fontNormal;
		line-height: 17px;
		font-weight: 500;
		height: 45px;
		line-height: 45px;
		border: none;
		padding: 0 40px;
		background: $colorD4323C !important;
		@include box-shadow(none);
		@include transition(all .3s linear);
		cursor: pointer;
		&:hover, &:focus, &:active{
			outline: 0;
			@include box-shadow(none);
			background: darken($colorD4323C, 10) !important;
		}
	}
}

.form-captcha{
	.g-recaptcha{
		@include transform(scale(1));
		transform-origin: 0 0 !important;
	}
	&.form-captcha-95{
		width: 288px;
	    height: 72px;
		.g-recaptcha{
			@include transform(scale(0.95));
		}
	}
	&.form-captcha-9{
		width: 273px;
	    height: 68px;
		.g-recaptcha{
			@include transform(scale(0.9));
		}
	}
	&.form-captcha-85{
		width: 258px;
		height: 64px;
		.g-recaptcha{
			@include transform(scale(0.85));
		}
	}
	&.form-captcha-8{
		width: 243px;
	    height: 60px;
		.g-recaptcha{
			@include transform(scale(0.8));
		}
	}
	&.form-captcha-75{
		width: 228px;
		height: 56px;
		.g-recaptcha{
			@include transform(scale(0.75));
		}
	}
	&.form-captcha-7{
		width: 212px;
		height: 52px;
		.g-recaptcha{
			@include transform(scale(0.7));
		}
	}
}

@media (max-width: 768px){
	.form{
		input[type="submit"], button{
			padding: 0 40px;
		}
	}
}

@media (max-width: 400px){
	.form{
		.form-button{
			margin: 10px 0 0;
		}
		input[type="submit"], button{
			height: 42px;
			line-height: 42px;
			padding: 0 40px;
		}
	}
}