
$colorWhite: #FFFFFF;
$colorBlack: #212121;
$color757575: #757575;
$colorF1303C: #F1303C;  // Цвет Телефона
$colorBorder: #DEDEDE;  // Цвет borderов
$colorEBEBEB: #EBEBEB;  // Цвет borderов
$color333333: #333333;
$color454545: #454545;
$colorD4323C: #D4323C;  // Цвет Ссылок