// @include fontface("OktaNeueThin", "OktaNeueThin");
// @include fontface("OktaNeueLight", "OktaNeueLight");
// @include fontface("OktaNeueUltraLight", "OktaNeueUltraLight");
@include fontface("OktaNeueNormal", "OktaNeueNormal");
@include fontface("OktaNeueRegular", "OktaNeueRegular");
// @include fontface("OktaNeueMedium", "OktaNeueMedium");
// @include fontface("OktaNeueSemiBold", "OktaNeueSemiBold");
@include fontface("OktaNeueBold", "OktaNeueBold");
// @include fontface("OktaNeueBlack", "OktaNeueBlack");
// @include fontface("OktaNeueHeavy", "OktaNeueHeavy");


$fontNormal: OktaNeueNormal;
$fontRegular: OktaNeueRegular;
$fontBold: OktaNeueBold;