body, div, a {
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		text-decoration: none; 
	}
}

a:focus {outline: 0;}

img {
	max-width: 100%;
}

html{
	width: 100%;
	height: 100%;
}
body{
	@extend html;
	font-family: $fontNormal;
	font-style: normal;
	background: $colorWhite;
	@media (min-width: 1000px){
		&.modal-open{
			padding-right: 17px;
		}
	}
}
.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
}
.wrap1 {
  	flex: 1 0 auto;
  	overflow: hidden;
}
.wrap2 {
  	flex: 0 0 auto;
}