.advWorkMust-section{
	overflow: hidden;
	padding: 100px 0;
	background: #FF6262;
	background: -o-radial-gradient(69.92% -11.11%, 103.17% 111.11%, #FF6262 0%, #002841 100%);
	background: -webkit-radial-gradient(103.17% 111.11% at 69.92% -11.11%, #FF6262 0%, #002841 100%);
    background: radial-gradient(103.17% 111.11% at 69.92% -11.11%, #FF6262 0%, #002841 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF6262",endColorstr="#002841",GradientType=1);
    .box-style{
		.box-style__header{
			padding: 0 0 40px;
		}
		.box-style__heading{
			color: $colorWhite;
		}
	}
	.advWorkMust-section__but{
		width: 377px;
		padding: 70px 0 0;
	}
	.advWorkMust-section__image{
		position: relative;
		width: calc(100% - 407px);
		img{
			max-width: 1027px;
		}
	}
}

.advWorkMust-box{
	margin: 0 -15px;
	.advWorkMust-box__item{
		width: calc(100% / 2 - 30px);
		margin: 0 15px 30px;
	}
	.advWorkMust-box__heading{
		color: $colorWhite;
		font-size: 30px;
		font-family: $fontNormal;
		font-weight: normal;
		line-height: 100%;
	}
	.advWorkMust-box__heading_desc{
		color: $colorWhite;
		font-size: 20px;
		font-family: $fontNormal;
		font-weight: normal;
		line-height: 100%;
		padding: 10px 0 0;
	}
}

.steps-workMust{
	position: relative;
	z-index: 1;
	@include flexbox();
	@include flex-direction(column);
	margin: 0;
	padding: 0;
	list-style-type: none;
	li{
		position: relative;
		color: $colorWhite;
		font-size: 24px;
		font-family: $fontNormal;
		font-weight: normal;
		line-height: 29px;
		padding: 0 0 25px;
		&:before,
		&:after{
			content: '';
			position: absolute;
			z-index: 0;
			display: block;
			background: $colorWhite;
		}
		&:before{
			top: 10px;
			left: -28px;
			width: 8px;
			height: 8px;
			@include border-radius(50%);
		}
		&:after{
			top: 23px;
			left: -25px;
			width: 2px;
			height: calc(100% - 18px);
			opacity: .6;
		}
		&:last-child{
			&:after{
				display: none;
			}
		}
	}
	&.m-t-40{
		margin-top: 35px;
	}
	&.m-t-60{
		margin-top: 65px;
	}
}

@media (max-width: 1600px){
	.advWorkMust-section{
		padding: 80px 0;
	    .box-style{
			.box-style__header{
				padding: 0 0 30px;
			}
		}
		.advWorkMust-section__but{
			width: 340px;
			padding: 70px 0 0;
		}
		.advWorkMust-section__image{
			width: calc(100% - 340px);
			img{
				max-width: 820px;
			}
		}
	}

	.advWorkMust-box{
		.advWorkMust-box__heading{
			font-size: 26px;
			line-height: 100%;
		}
		.advWorkMust-box__heading_desc{
			font-size: 16px;
			line-height: 100%;
			padding: 8px 0 0;
		}
	}

	.steps-workMust{
		li{
			font-size: 20px;
			line-height: 25px;
			padding: 0 0 25px;
		}
		&.m-t-40{
			margin-top: 30px;
		}
		&.m-t-60{
			margin-top: 55px;
		}
	}
}

@media (max-width: 1240px){
	.advWorkMust-section{
		padding: 70px 0;
	    .box-style{
			.box-style__header{
				padding: 0 0 30px;
			}
		}
		.advWorkMust-section__but{
			width: 310px;
			padding: 45px 0 0;
		}
		.advWorkMust-section__image{
			width: calc(100% - 310px);
			img{
				max-width: 660px;
			}
		}
	}

	.advWorkMust-box{
		.advWorkMust-box__heading{
			font-size: 22px;
			line-height: 100%;
		}
		.advWorkMust-box__heading_desc{
			font-size: 14px;
			line-height: 100%;
			padding: 8px 0 0;
		}
	}

	.steps-workMust{
		li{
			font-size: 18px;
			line-height: 24px;
			padding: 0 0 20px;
			&:before{
				top: 9px;
				left: -18px;
			}
			&:after{
				top: 20px;
				left: -15px;
			    height: calc(100% - 14px);
			}
		}
		&.m-t-40{
			margin-top: 25px;
		}
		&.m-t-60{
			margin-top: 47px;
		}
	}
}

@media (max-width: 1000px){
	.advWorkMust-section{
		padding: 50px 0;
	    .box-style{
			.box-style__header{
				padding: 0 0 40px;
			}
		}
		.advWorkMust-section__but{
			width: 310px;
			padding: 15px 0 0;
		}
		.advWorkMust-section__image{
			width: calc(100% - 310px);
		    margin: -100px 0 0;
			img{
				max-width: 1027px;
			}
		}
	}
	.advWorkMust-box{
		margin: 0;
		.advWorkMust-box__item{
			width: calc(100% / 1);
			margin: 0 0 30px;
		}
		.advWorkMust-box__heading{
			font-size: 30px;
			line-height: 100%;
		}
		.advWorkMust-box__heading_desc{
			font-size: 20px;
			line-height: 100%;
			padding: 8px 0 0;
		}
	}
	.steps-workMust{
		padding: 0 0 0 28px;
		li{
			font-size: 24px;
			line-height: 29px;
			padding: 0 0 30px;
			&:before{
				top: 9px;
				left: -28px;
			}
			&:after{
				top: 20px;
				left: -25px;
			    height: calc(100% - 14px);
			}
		}
		&.m-t-40{
			margin-top: 35px;
		}
		&.m-t-60{
			margin-top: 65px;
		}
	}
}

@media (max-width: 768px){
	.advWorkMust-section{
		padding: 40px 0;
	    .box-style{
			.box-style__header{
				padding: 0 0 30px;
			}
		}
		.advWorkMust-section__but{
			width: 260px;
			padding: 15px 0 0;
		}
		.advWorkMust-section__image{
			width: calc(100% - 260px);
		    margin: -90px 0 0;
			img{
				max-width: 870px;
			}
		}
	}

	.advWorkMust-box{
		margin: 0;
		.advWorkMust-box__item{
			width: calc(100% / 1);
			margin: 0 0 30px;
		}
		.advWorkMust-box__heading{
			font-size: 24px;
			line-height: 100%;
		}
		.advWorkMust-box__heading_desc{
			font-size: 15px;
			line-height: 100%;
			padding: 8px 0 0;
		}
	}

	.steps-workMust{
		li{
			font-size: 18px;
			line-height: 24px;
			padding: 0 0 20px;
		}
		&.m-t-40{
			margin-top: 30px;
		}
		&.m-t-60{
			margin-top: 50px;
		}
	}
}

@media (max-width: 640px){
	.advWorkMust-section{
		padding: 40px 0 0;
		&#workStart{
			padding-bottom: 40px;
		}
	    .box-style{
			.box-style__header{
				padding: 0 0 30px;
			}
		}
		.advWorkMust-section__but{
			width: 210px;
			padding: 30px 0 0;
		}
		.advWorkMust-section__image{
			display: none;
			// width: calc(100% - 210px);
		 //    margin: -70px 0 0;
			img{
				max-width: 870px;
			}
		}
	}


	.advWorkMust-box{
		margin: 0;
		.advWorkMust-box__item{
			margin: 0 0 15px;
		}
		.advWorkMust-box__heading{
			font-size: 18px;
			line-height: 100%;
		}
		.advWorkMust-box__heading_desc{
			font-size: 14px;
			line-height: 100%;
			padding: 8px 0 0;
		}
	}
	.steps-workMust{
		li{
			font-size: 14px;
			line-height: 18px;
			padding: 0 0 15px;
			&:before{
				top: 6px;
				left: -28px;
			}
			&:after{
				top: 17px;
				left: -25px;
			    height: calc(100% - 14px);
			}
		}
		&.m-t-40{
			margin-top: 25px;
		}
		&.m-t-60{
			margin-top: 15px;
		}
	}
}

@media (max-width: 480px){
	.advWorkMust-section{
		padding: 40px 0 0;
	    .box-style{
			.box-style__header{
				padding: 0 0 30px;
			}
		}
		.advWorkMust-section__but{
			width: 145px;
			padding: 30px 0 0;
		}
		.advWorkMust-section__image{
			width: calc(100% - 145px);
		    margin: -55px 0 0;
			img{
				max-width: 670px;
			}
		}
	}
}