.advWorkFor-section{
	padding: 100px 0 0;
	overflow: hidden;
	.box-style{
		.box-style__header{
			padding: 0 0 60px;
		}
		.box-style__heading{
			color: $color333333;
		}
	}
	.advWorkFor-section__info{
		width: 790px;
		padding: 0 0 125px;
	}
	.advWorkFor-section__image{
		position: relative;
		width: calc(100% - 790px);
		min-height: 1000px;
		img{
			position: absolute;
			bottom: 0;
			left: -95px;
			max-width: 742px;
		}
	}
	.advWork-box{
		margin: 0 -8px 25px;
		.advWork-box__item{
			width: calc(100% / 2 - 16px);
			padding: 0;
			margin: 0 8px 30px;
		}
		.advWork-box__name{
			color: $color454545;
		}
		.advWork-box__desc{
			color: $color454545;
			padding: 7px 0 5px;
		}
	}
}

@media (max-width: 1600px){
	.advWorkFor-section{
		padding: 80px 0 0;
		.box-style{
			.box-style__header{
				padding: 0 0 50px;
			}
		}
		.advWorkFor-section__info{
			width: 660px;
			padding: 0 0 100px;
		}
		.advWorkFor-section__image{
			width: calc(100% - 660px);
			min-height: 840px;
			img{
				left: -75px;
				max-width: 620px;
			}
		}
		.advWork-box{
			margin: 0 -8px 20px;
			.advWork-box__item{
				width: calc(100% / 2 - 16px);
				margin: 0 8px 30px;
			}
			.advWork-box__desc{
				padding: 5px 0 0;
			}
		}
	}

}

@media (max-width: 1240px){
	.advWorkFor-section{
		padding: 70px 0 0;
		.box-style{
			.box-style__header{
				padding: 0 0 45px;
			}
		}
		.advWorkFor-section__info{
			width: 560px;
			padding: 0 0 90px;
		}
		.advWorkFor-section__image{
			width: calc(100% - 560px);
			min-height: 720px;
			img{
				left: -75px;
				max-width: 530px;
			}
		}
		.advWork-box{
			margin: 0 -8px 15px;
			.advWork-box__item{
				width: calc(100% / 2 - 16px);
				margin: 0 8px 20px;
			}
			.advWork-box__desc{
				padding: 5px 0 0;
			}
		}
	}
}

@media (max-width: 768px){
	.advWorkFor-section{
		position: relative;
		padding: 40px 0 0;
		.box-style{
			.box-style__header{
				padding: 0 0 30px;
			}
		}
		.advWorkFor-section__info{
			width: 100%;
			padding: 0 0 80px;
			.but-container{
				width: 250px;
			}
		}
		.advWorkFor-section__image{
			position: absolute;
			bottom: 0;
			right: 0;
			width: 300px;
			min-height: 405px;
			img{
				left: auto;
				max-width: 100%;
			}
		}

		.advWork-box{
			margin: 0 -8px 15px;
			padding: 0 0 45px;
			.advWork-box__item{
				width: calc(100% / 2 - 16px);
				margin: 0 8px 35px;
			}
			.advWork-box__desc{
				line-height: 22px;
				padding: 5px 0 0;
			}
		}
	}
}

@media (max-width: 640px){
	.advWorkFor-section{
		.advWorkFor-section__info{
			width: 100%;
			padding: 0 0 90px;
			.but-container{
				width: 175px;
			}
		}
		.advWorkFor-section__image{
			display: none;
			// width: 250px;
			// min-height: 318px;
			// right: 20px;
		}
		.advWork-box{
			margin: 0;
			padding: 0 0 55px;
			.advWork-box__item{
				width: calc(100% / 1);
				margin: 0 0 25px;
				@media (min-width: 491px){
					br{
						display: none;
					}
				}
			}
		}
	}
}

@media (max-width: 490px){
	.advWorkFor-section{
		.advWork-box{
			width: 310px;
		}
	}
}

@media (max-width: 480px){
	.advWorkFor-section{
		.advWorkFor-section__image{
			width: 234px;
			right: 0px;
		}
	}
}

@media (max-width: 360px){
	.advWorkFor-section{
		.advWork-box{
			width: 100%;
			br{
				display: none;
			}
		}
		.advWorkFor-section__image{
			right: -45px;
		}
	}
}