.advWork-section{
	padding: 100px 0 170px;
	background: rgb(0,142,233);
	background: -o-radial-gradient(24.24% -13.39%, 111.16% 113.39%, #008EE9 0%, #002841 100%);
	background: -webkit-radial-gradient(111.16% 113.39% at 24.24% -13.39%, #008EE9 0%, #002841 100%);
    background: radial-gradient(111.16% 113.39% at 24.24% -13.39%, #008EE9 0%, #002841 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#008ee9",endColorstr="#002841",GradientType=1);
	.box-style{
		.box-style__header{
			padding: 0 0 80px;
		}
		.box-style__heading{
			color: $colorWhite;
		}
	}
	.advWork-section__map{
		margin: -80px 0 10px;
		img{
			position: relative;
			left: -70px;
		}
	}
}

.advWork-box{
	margin: 0 -15px;
	.advWork-box__col{
		width: calc(100% / 2 - 30px);
		margin: 0 15px 30px;
	}
	.advWork-box__item{
		padding: 0 10px 0 0;
	}
	.advWork-box__icon{
		width: 50px;
		height: 50px;
		img{
			max-width: 100%;
			max-height: 100%;
		}
	}
	.advWork-box__name{
		color: $colorWhite;
		font-size: 30px;
		font-family: $fontBold;
		font-weight: bold;
		line-height: 100%;
		padding: 10px 0 15px;
	}
	.advWork-box__desc{
		color: $colorWhite;
		font-size: 20px;
		font-family: $fontNormal;
		font-weight: normal;
		line-height: 24px;
		padding: 0 0 25px;
		p{
			margin: 0 0 25px;
		}
	}
}

@media (max-width: 1600px){
	.advWork-section{
		padding: 80px 0 140px;
		.box-style{
			.box-style__header{
				padding: 0 0 70px;
			}
		}
		.advWork-section__map{
			margin: -72px 0 10px;
			img{
				left: -60px;
			}
		}
	}

	.advWork-box{
		margin: 0 -15px;
		.advWork-box__col{
			width: calc(100% / 2 - 30px);
			margin: 0 15px 30px;
		}
		.advWork-box__item{
			padding: 0 10px 0 0;
		}
		.advWork-box__icon{
			width: 42px;
			height: 42px;
		}
		.advWork-box__name{
			font-size: 26px;
			line-height: 100%;
			padding: 10px 0 15px;
		}
		.advWork-box__desc{
			font-size: 16px;
			line-height: 21px;
			padding: 0 0 20px;
			p{
				margin: 0 0 20px;
			}
		}
	}
}

@media (max-width: 1240px){
	.advWork-section{
		padding: 70px 0 120px;
		.box-style{
			.box-style__header{
				padding: 0 0 60px;
			}
		}
		.advWork-section__map{
			margin: -60px 0 10px;
			img{
				max-width: 90%;
				left: -35px;
			}
		}
	}

	.advWork-box{
		margin: 0 -15px;
		.advWork-box__col{
			width: calc(100% / 2 - 30px);
			margin: 0 15px 30px;
		}
		.advWork-box__item{
			padding: 0 10px 0 0;
		}
		.advWork-box__icon{
			width: 36px;
			height: 36px;
		}
		.advWork-box__name{
			font-size: 22px;
			line-height: 100%;
			padding: 7px 0 10px;
		}
		.advWork-box__desc{
			font-size: 14px;
			line-height: 18px;
			padding: 0 0 15px;
			p{
				margin: 0 0 15px;
			}
		}
	}
}

@media (max-width: 1000px){
	.advWork-section{
		padding: 50px 0 95px;
		.box-style{
			.box-style__header{
				padding: 0 0 40px;
			}
		}
		.advWork-section__map{
			margin: -80px 0 10px;
			img{
				max-width: 877px;
				left: -35px;
			}
		}
	}
	.advWork-box{
		margin: 0;
		.advWork-box__col{
			width: calc(100% / 1);
			margin: 0;
		}
		.advWork-box__item{
			padding: 0;
		}
		.advWork-box__icon{
			width: 45px;
			height: 45px;
		}
		.advWork-box__name{
			font-size: 30px;
			line-height: 100%;
			padding: 10px 0 15px;
		}
		.advWork-box__desc{
			font-size: 18px;
			line-height: 24px;
			padding: 0 0 20px;
			p{
				margin: 0 0 25px;
			}
		}
	}
}

@media (max-width: 768px){
	.advWork-section{
		padding: 40px 0 95px;
		.box-style{
			.box-style__header{
				padding: 0 0 30px;
			}
		}
		.advWork-section__map{
			margin: -35px 0 10px;
			img{
				max-width: 805px;
				left: -35px;
			}
		}
	}
	.advWork-box{
		.advWork-box__icon{
			width: 30px;
			height: 30px;
		}
		.advWork-box__name{
			font-size: 24px;
			line-height: 100%;
			padding: 10px 0 15px;
		}
		.advWork-box__desc{
			font-size: 15px;
			line-height: 20px;
			padding: 0 0 15px;
			p{
				margin: 0 0 20px;
			}
		}
	}
}

@media (max-width: 640px){
	.advWork-section{
		padding: 40px 0 60px;
		.box-style{
			.box-style__header{
				padding: 0 0 35px;
			}
		}
		.advWork-section__map{
			margin: -30px 0 20px;
			img{
				max-width: 560px;
				left: -35px;
			}
		}
	}

	.advWork-box{
		.advWork-box__icon{
			width: 30px;
			height: 30px;
		}
		.advWork-box__name{
			font-size: 20px;
			line-height: 100%;
			padding: 10px 0 15px;
		}
		.advWork-box__desc{
			font-size: 14px;
			line-height: 18px;
			padding: 0 0 15px;
			p{
				margin: 0 0 15px;
			}
		}
	}
}

@media (max-width: 480px){
	.advWork-section{
		.advWork-box{
			width: 310px;
			br{
				display: none;
			}
		}
		.advWork-section__map{
			margin: -30px 0 20px;
			img{
				max-width: 465px;
				left: -20px;
			}
		}
	}
}

@media (max-width: 360px){
	.advWork-section{
		.advWork-box{
			width: 100%;
		}
		.advWork-section__map{
			margin: -30px 0 20px;
			img{
				max-width: 400px;
				left: -20px;
			}
		}
		.but-container{
			width: 135px;
		}
	}
}