.advantages-section{
    padding: 60px 0 115px;
}

.adv-inline{
	@include flexbox();
	@include flex-wrap(wrap);
	width: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
	li{
		width: auto;
		max-width: 275px;
		min-width: 233px;
		margin: 0 70px 70px 0;
		color: $color454545;
		font-size: 20px;
		font-family: $fontNormal;
		font-weight: normal;
		line-height: 24px;
		strong{
			display: block;
			color: $color333333;
			font-size: 60px;
			font-family: $fontBold;
			line-height: 100%;
		}
	}
}

@media (max-width: 1600px){
	.advantages-section{
	    padding: 55px 0 100px;
	}

	.adv-inline{
		li{
			max-width: 233px;
			min-width: 195px;
			margin: 0 60px 60px 0;
			font-size: 16px;
			line-height: 21px;
			strong{
				font-size: 50px;
				line-height: 100%;
			}
		}
	}
}

@media (max-width: 1240px){
	.advantages-section{
	    padding: 55px 0 85px;
	}

	.adv-inline{
		li{
			max-width: 200px;
			min-width: 165px;
			margin: 0 50px 50px 0;
			font-size: 14px;
			line-height: 18px;
			strong{
				font-size: 42px;
				line-height: 100%;
			}
		}
	}
}

@media (max-width: 1000px){
	.advantages-section{
	    padding: 55px 0 80px;
	}

	.adv-inline{
	    margin: 0 0 25px;
		li{
			max-width: 260px;
			min-width: auto;
			margin: 0 45px 45px 0;
			font-size: 18px;
			line-height: 24px;
			strong{
				font-size: 55px;
				line-height: 100%;
			}
		}
	}
}

@media (max-width: 768px){
	.advantages-section{
	    padding: 45px 0 60px;
	}

	.adv-inline{
	    margin: 0 0 15px;
		li{
			max-width: 205px;
			min-width: auto;
			margin: 0 35px 35px 0;
			font-size: 15px;
			line-height: 20px;
			strong{
				font-size: 42px;
				line-height: 100%;
			}
		}
	}
}

@media (max-width: 640px){
	.advantages-section{
	    padding: 35px 0 60px;
	}

	.adv-inline{
		// width: 280px;
	    margin: 0 0 15px;
		li{
			width: 100%;
			max-width: none;
			min-width: auto;
			margin: 0 0 25px;
			font-size: 14px;
			line-height: 18px;
			br{
				display: none;
			}
			strong{
				font-size: 35px;
				line-height: 100%;
				padding: 0 0 5px;
			}
			&:last-child{
				margin-right: 0;
			}
		}
	}
}

@media (max-width: 480px){
	.advantages-section{
	    padding: 35px 0 40px;
	}
	.adv-inline{
		// width: 280px;
	    margin: 0 0 20px;
		li{
			margin: 0 0 15px;
			strong{
				font-size: 30px;
				line-height: 100%;
				padding: 0 0 5px;
			}
			&:last-child{
				margin-right: 0;
			}
		}
	}
}