.main-screen{
	position: relative;
	.main-screen__content{
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	.main-screen__info{
		width: 575px;
		padding: 105px 0 0;
	}

	.main-screen__media{
		position: relative;
		width: 100%;
		height: 860px;
	}

	.main-screen__img{
		position: absolute;
		z-index: -1;
		bottom: 0;
		width: 100%;
		height: 100%;
		source, img{
			width: 100%;
			height: 100%;
			object-fit: cover
		}
	}

	.main-screen__name{
		@extend h1;
		padding: 0 0 25px;
		color: #fff;
		text-shadow: 0px 4px 14px rgba(0, 0, 0, 0.11);
	}
}

.main-screen__desc{
	color: $color454545;
	font-size: 30px;
	font-family: $fontRegular;
	font-weight: normal;
	line-height: 140%;
	padding: 0 0 25px;
}

@media (max-width: 1600px){
	.main-screen__desc{
		font-size: 25px;
		line-height: 140%;
		padding: 0 0 25px;
	}
}

@media (max-width: 1240px){
	.main-screen{
		.main-screen__info{
			padding: 55px 0 0;
		}

		.main-screen__media{
			height: 430px;
		}

		.main-screen__name{
			padding: 0 0 18px;
		}
	}
	.main-screen__desc{
		font-size: 21px;
		line-height: 140%;
		padding: 0 0 20px;
	}
}

@media (max-width: 1000px){
	.main-screen{

		.main-screen__info{
			width: 600px;
		}
		.main-screen__name{
			padding: 0 0 20px;
		}
	}

	.main-screen__desc{
		font-size: 24px;
		line-height: 140%;
		padding: 0 0 20px;
	}
}

@media (max-width: 768px){
	.main-screen{
		.main-screen__info{
			width: 520px;
			padding: 45px 0 0;
		}

		.main-screen__media{
			height: 350px;
		}

		.main-screen__name{
			padding: 0 0 15px;
		}
	}

	.main-screen__desc{
		font-size: 18px;
		line-height: 140%;
		padding: 0 0 15px;
	}
}

@media (max-width: 640px){
	.main-screen{
		.content{
			padding-right: 20px;
		}
		.main-screen__info{
			width: 420px;
			padding: 40px 0 0;
		}

		.main-screen__name{
			padding: 0 0 15px;
		}
	}

	.main-screen__desc{
		font-size: 15px;
		line-height: 140%;
		padding: 0 0 15px;
	}
}

@media (max-width: 480px){
	.main-screen{
		.main-screen__info{
			width: 310px;
			padding: 40px 0 0;
		}
		.main-screen__media{
			height: 210px;
		}
	}

	.main-screen__desc{
		font-size: 14px;
		line-height: 140%;
		padding: 0 0 15px;
	}
}

@media (max-width: 360px){
	.main-screen{
		.content{
			padding-right: 15px;
		}
		.main-screen__info{
			width: 100%;
		}
	}
}